<h2>All Historical Landmarks</h2>

<!-- add content here -->
<ul>
<% @landmarks.each do |landmark| %>
    <li>
      <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
      <p>Landmark Year Completed: <%= landmark.year_completed %></p>
    </li>
<% end %>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
