<h2>Create New Landmark</h2>

<!-- add content here -->
<label for="landmark_name">Landmark Name:</label>
<input type="text" id="landmark_name" name="landmark[name]">

<label for="landmark_year_completed">Landmark Year Completed:</label>
<input type="text" id="landmark_year_completed" name="landmark[year_completed]">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
