<h1>Figure Name: <%= @figure.name %></h1>
<h2>Figure Titles:</h2>
<ul>
<% @figure.titles.each do |title| %>
  <li>
    <%= title.name %>
  </li>
<% end %>
</ul>

<h2>Landmarks:</h2>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li>
    <%= landmark.name %>
  </li>
<% end %>
</ul>
